body,
html {
    background-color: var(--main-bg);
    color: var(--main-color);
    font-family: var(--sub-font);
}

h1,h2,h3,h4,h5,h6,.heading_title {
    font-family: var(--main-font);
}

.product_grid {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 40px;
    row-gap: 40px;
    width: 75%;
}

.wrap {
    display: flex;
    align-items: flex-start;
}